*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: Century Schoolbook;
	scroll-behavior: smooth;
}
p{
	font-weight: 300;
	color: #111;
}

.banner{
	position: relative;
	width: 100%;
	min-height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	background:url(img/12.png);
	background-size: cover;

}
.banner .content{

	max-width: 900px;
	text-align: center;
}
.banner .content h2{
	font-size: 4em;
	color: #555;
}
.banner .content p{
	font-size: 1em;
	color: #000000;
}
.bnt{
	font-size: 1em;
	color: #fff;
	background:#ff1057;
	display: inline-block;
	padding: 10px  30px;
	margin-top: 20px;
	text-transform: uppercase;
	text-decoration:none;
	letter-spacing: 2px;
	transition: 0.5s; 

}
.bnt:hover{
	letter-spacing: 6px;
}
header{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	padding: 40px 100px;
	z-index: 10000;
	display: flex;
	justify-content: space-between;
	align-items: center;
	transition: 0.5s;

}
header .sticky{
	background:#000000;
	padding: 10px 100px;
	box-shadow:  0 5px  20px rgba( 0,0,0,0.05);  
}
header .logo{
	color: #000000;
	font-weight: 700;
	font-size: 2em;
	text-decoration: none;


}
header .sticky .logo{
	color: #fff;
}
header .logo span{
	color:#A30000;
}
header .navigation{
	position: relative;
	display: flex;
}
header .navigation li {
	list-style: none;
	margin-left: 30px;

}
header .navigation li a{
	text-decoration: none;
	color:#A30000;
	font-weight: 300;

}
header .sticky  .navigation li a{
	color: #111;
}
header .sticky  .navigation li a :hover{
	color: #ff1057;
}
section{
	padding: 100px;
}
.row{
	position: relative;
	width: 100%;
	display: flex;
	justify-content: space-between;

}
.row .col50{
	position: relative;
	width: 48%;
}
.titletext{
	color: #111;
	font-size: 2em;
	font-weight: 300;
}
.titletext   span{
	color: #ff1057;
	font-weight: 700;
	font-size: 1.5em;
}
 .row .col50  .imgbx{
 	position: relative;
 	width: 100%;
 	/*min-height: 300px;*/
 	height: 100%;


}
 .row .col50  .imgbx img{
 	position: absolute;
 	top:0;
 	left: 0;
 	width: 100%;
 	height: 100%;
 	object-fit: cover;
 }
 .menu .title{
 	width: 100%;
 	display: flex;
 	justify-content: center;
 	align-items: center;
 	flex-direction: column;
 }
 .menu  .content{
  	display: flex;
  	justify-content: center;
  	flex-direction: row-reverse;
  	flex-wrap: wrap;
  	margin-top:  40px;
  }
 .menu  .content  .box{
	width: 200px;
	margin: 20px;
	border:13px solid #fff;
box-shadow:  0 5px  35px rgba( 0,0,0,0.08);  
}
.menu  .content  .box  .imgbx{
 position: relative;
 width: 100%;
 height: 200px;
}
 .menu   .content .box  .imgbx img{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;


}
 .menu   .content .box  .text{
 	padding: 15px 0 5px;
 }
 .menu   .content .box  .text h3{
 	font-weight: 400;
    color: #111;
 }

 .Expert .content{
 	display: flex;
 
  	justify-content: center;
  	flex-wrap: wrap;

  	flex-direction: row;
    margin-top:  30px;
 }
  .Expert .content .box{
  	width: 150px;
  	margin: 15px;
  }
  .Expert  .content  .box  .imgbx{
  	position: relative;
  	width: 100%;
  	height: 200px;
  }
 .Expert   .content .box  .imgbx img{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;


}
.Expert   .content .box  .text h3{
 	font-weight: 400;
    color: #111;
 }
 .testinomiale{
 	background: url(img/6.jpg);
 	background-size: cover;

 }
.white .titletext,
.white p
{
color: #000000;
}
 .testinomiale   .content{
 	display: flex;
 	justify-content: center;
 	flex-wrap: wrap;
 	flex-direction: row;
 	margin-top: 40px;
 }
  .testinomiale   .content .box{
  	width: 300px;
 

  	margin: 20px;
  	padding: 40px;
  	background:#fff;
  	display: flex;
  	justify-content: center;
  	align-items: center;
  	flex-direction: column; 
  }
  .testinomiale   .content .box .imgbx{
  	position: relative;
  	width: 80px;
  	height: 80px;
  	margin-bottom: 20px;
  	border-radius: 50%;
  	overflow: hidden;

  }
    .testinomiale   .content .box .imgbx img{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;


} 
.testinomiale   .content .box .text{
    	text-align: center;
 }
.testinomiale   .content .box .text p{
	color: #666;
	font-style: italic;

}
.testinomiale   .content .box .text h3{
	margin-top: 20px;
	color: #111;
	font-size: 1em;
	color: #ff1057;
	font-weight: 600;
}
.contact{
	background:url(img/15.jpg); 
	background-size: cover;
}
 .contactfrom{
 padding: 70px 50px;
 background:  #fff;
 box-shadow: 0 15px 50px rgba(0,0,0,0.1);
 max-width: 400px;
 margin-top: 50px;
}
 .contactfrom h3{

 	color: #111;
 	font-size: 1.2em;
 	margin-bottom: 20px;
 	font-weight: 500px;
 }
  .contactfrom .inputbox{
  	position: relative;
  	width: 100%;
  	margin-bottom: 20px;

  }
.contactfrom .inputbox  input,
.contactfrom .inputbox  textarea{
	width: 100%;
	border:1px solid #555;
	padding: 10px;
	color: #111;
	outline: none;
	font-size: 16px;
	font-weight: 300; 
	resize: none;
}
.contactfrom .inputbox  input[type="submit" ]{
	font-size: 1em;
	color: #fff;
	background: #ff1057;
	display: inline-block;
	text-transform: uppercase;
	text-decoration: none;
	letter-spacing: 2px;
	transition: 0.5s;
	max-width: 100px;
	font-weight: 500;
	border: none;
	cursor: pointer;

}
.copyrighttext{
	padding: 8px 40px;
	border-top: 1px solid rgba(0,0,0,,0.1);
	text-align: center; 
}
.copyrighttext p{
	color: #333;
}
.copyrighttext a{
	color: #ff1057;
	font-weight: 500;
	text-decoration: none;
}
@media  (max-width: 991px){
	header,
	header .sticky{
		padding: 10px 20px ;

	}
	header .navigation{
		display: none;
	}
	.menutoggle{
		position: relative;
		width: 40px;
		height: 40px;
		background: url(img/11.png);
		background-size: 30px;
		background-repeat: no-repeat;
		background-position: center;
		cursor: pointer;


	}
}